@font-face {
    font-family: 'Futura PT Light';
    src: local('Futura PT Light'), local('Futura-PT-Light'),
        /*url('/fonts/FuturaPT-Light.woff2') format('woff2'),*/
        /*url('/fonts/FuturaPT-Light.woff') format('woff'),*/
        /*url('/fonts/FuturaPT-Light.ttf') format('truetype');*/
    url('/fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT Bold';
    src: local('Futura PT Bold'), local('Futura-PT-Bold'),
    url('/fonts/ofont.ru_Futura PT.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Coiny";
    src: local('Coiny'), local('Coiny'),
    url('/fonts/Coiny-Cyrillic.ttf') format('truetype');

}
@font-face {
    font-family: "Segoe Print";
    src: local('Segoe'), local('Segoe'),
    url('/fonts/SegoePrintRegular.ttf') format('truetype');

}
.text-fut-bold {
    font-family: "Futura PT Bold";
}
.text-fut-light {
    font-family: "Futura PT Light";
}
.menu-point
{
    font-size: 1.3rem;
}
.main-logo
{
    transition: 0.5s;
}
.max{
    width:200%;
}
.min
{
    width:150%;
}
.logs
{
    transition: 0.5s;
}
.logs3
{
    height: 15vh;
}
.logs2
{
    height:10vh;
}
.solid-nav {
    background: white!important;
}
.menu-point-black
{
    color:black!important;
}

img.sun {
    animation: 30s linear 0s normal none infinite running sun;
    -webkit-animation: 30s linear 0s normal none infinite running sun;
}

@keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clouds{
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1.0);
    }
    50%
    {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
.cloud-right
{
    animation: trans 15s infinite;
}
.cloud-left
{
    animation: transs 15s infinite;
}
@keyframes trans {
    0%{
        transform: translatex(0px);
    }
    25%
    {
        transform: translate(-40px);
    }
    75%
    {
        transform: translate(40px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes transs {
    0%{
        transform: translatex(0px);
    }
    25%
    {
        transform: translate(40px);
    }
    75%
    {
        transform: translate(-40px);
    }
    100% {
        transform: translate(0px);
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:0.5s;
    animation-delay: 0.5s;
}
@-moz-keyframes fadeInRight{
    from {
        opacity:0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}
@-moz-keyframes fadeInBottom{
    from {
        opacity:0;
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -o-transform: translatey(10px);
        transform: translatey(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInBottom {
    from {
        opacity:0;
        -webkit-transform: translatey(100px);
        -moz-transform: translatey(100px);
        -o-transform: translatey(100px);
        transform: translatey(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-bottom {
    -webkit-animation-name: fadeInBottom;
    -moz-animation-name: fadeInBottom;
    -o-animation-name: fadeInBottom;
    animation-name: fadeInBottom;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}
#employees .carousel-control-next {
    right: -10%!important;
}
#employees .carousel-control-prev {
    left: -10%!important;
}
.carousel-block-2 {
    background: rgba(150, 199, 216, 0.44);
    border-radius: 5px;
}
#employees .carousel-control-next-icon {
    background-image: url(/images/left.png);
    background-size: contain;
}
#employees .carousel-control-prev-icon {
    background-image: url(/images/right.png);
    background-size: contain;
}
#certificates .carousel-control-next {
    right: -10%!important;
}
#certificates .carousel-control-prev {
    left: -10%!important;
}
#certificates .carousel-control-next-icon {
    background-image: url(/images/left.png);
    background-size: contain;
}
#certificates .carousel-control-prev-icon {
    background-image: url(/images/right.png);
    background-size: contain;
}
#reviews {
    background-image: url(/images/image1.png);
    background-size: cover;
    background-position: center;
}
#news {
    background-image: url(/images/reviews2.png);
    background-size: cover;
    background-position: center;
    padding-top:10%;
    padding-bottom:15%;
}
#call-back {
    background-image: url(/images/form.png);
    background-size: cover;
}
.btn {
    font-size: 20px;
    border:none;
    color:white;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.btn:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    color: #fff;
    transform: translateY(-5px);

}
#call-back form {
    background: linear-gradient(180deg, #FF6A74 0%, #FF6F5B 100%);
    border-radius: 10px;
    width: 272px;
    height: 364px;
    padding: 30px 20px 30px 20px;
    float: right;
}
.btn.btn-submit {
    width: 232px;
    background: #637BD9;
    border-radius: 10px;
    height: 41px;
    font-size: 17px;
    font-weight: 100;
}
#call-back .form-control {
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    border: none;
    height: 41px;
}


#call-back .form-control#exampleFormControlTextarea5 {
    height: 75px;
}

#reviews .owl-carousel .item p {
    font-family: "Futura PT Light";
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
#reviews .owl-carousel .item h5 {
    font-family: "Futura PT Bold";
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
}
#reviews .owl-carousel .item h6 {
    font-family: "Futura PT Light";
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
}
#reviews .paddingleft {
    padding-left: 5%;
}
.carousel-block-2 {
    height: 322px;
}
#employees .owl-nav {
    width: 108%;
    left: -4%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 29%;
    z-index: -2;
}
#employees .owl-nav .owl-prev span, #employees .owl-nav .owl-next span {
    font-size: 90px;
}
#certificates .owl-nav {
    width: 108%;
    left: -4%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 29%;
    z-index: -2;
}
#certificates .owl-nav .owl-prev span, #certificates .owl-nav .owl-next span {
    font-size: 90px;
}
button:focus {
    outline: none;
}
#reviews .owl-prev span, #reviews .owl-next span {
    display: none;
}
#reviews .owl-prev {
    background-image: url(/images/right-arrow.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9999;
    background-size: contain;
}
#reviews .owl-next {
    background-image: url(/images/left-arrow.png);
    background-repeat: no-repeat;
    transform: translateX(15px);
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9999;
    background-size: contain;
}
#reviews .owl-nav {
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin-top: 5%;
}
#contact-us .phone, #contact-us .map, #contact-us .time {
    display: flex;
    align-items: center;
}
#contact-us p {
    margin-bottom: 0;
    margin-left: 7%;
}

#divider-before-map {
    background-image: url(/images/3.png);
    background-size: cover;
    background-position: bottom;
    height: 137px;
    position: absolute;
}
#footer {
    background: #ff9a66;
}
.divider-before-footer {
    background-image: url(/images/4.png);
    background-size: cover;
    height: 200px;
    transform: translateY(-180px);
    position: absolute;
    width: 100%;
}
.row-with-animation {
    position: absolute;
    right: 5%;
    top: 0;
}
.row-with-animation2 {
    position: absolute;
    left: 20%;
    top: -110px;
}
.row-with-animation3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.parallax {
    overflow: hidden;
    left: 0;
}
.parallax2 {
    overflow: hidden;
    left: 0;
}
.water {
    position: absolute;
    font-family: pt-narrow!important;
    font-size: 220px;
    color: #000000;
    z-index: -1!important;
}
.water2 {
    position: absolute;
    width: 298px;
    border: 1px solid #000;
    height: 384px;
}
.blokparallax {
    position: absolute;
    left: 22%;
    top: -40%;
    z-index: 0;
}
.blokparallax2 {
    position: absolute;
    left: 6%;
    top: -25%;
    z-index: 0;
}
.blokparallax3 {
    position: absolute;
    right: 16%;
    top: -30%;
    z-index: 0;
}
.parallax-effects {
    width: 100%;
    height: 100%;
    position: absolute;
}
#gallery {
    padding-top: 6%;
}
#menu {
    padding-top: 2%;
    padding-bottom: 2%;
}


.blok1-h1 {
    font-size: 3.0rem;
    line-height: 120%;
    font-family: 'Coiny';
}
.blok1-span {
    font-size:23px;
    line-height: 18px;
}
.lb-data .lb-details {
    display: none;
}
.lb-outerContainer {
    background-color: transparent;
}
.soc-icons {
    background: rgb(241, 241, 241);
    width: 71px;
    height: 71px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.soc-icons img {
    transition: all 0.5s ease;
    transform: scale(0.9);
}
.soc-icons:hover img {
    transform: scale(1);
}
#courses ul {
    list-style: none;
}
#courses ul li::before {
    content: "\2022";
    color: #FF6C6A;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.7em;
    position: absolute;
}
.food-img {
    width: 70%;
}
#certificates .owl-dots {
    padding-top: 3%;
}
.hover-effect {
    transition: 0.2s ease-out;
}
.hover-effect:hover {
    transform: translateY(-4px) !important;
    box-shadow: 0 15px 10px #777;
    opacity: 0.9;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.lb-nav a.lb-next {
    right: -10%;
    position: absolute;
    opacity: 1;
}

.lb-nav a.lb-prev {
    left: -10%;
    position: absolute;
    opacity: 1;
}
.owl-dots {
    display: none;
}

@media screen and (min-width: 321px) and (max-width: 499px) {
    .car-media {
        height: 450px;
    }
}
@media only screen and (max-width: 700px) {
    .footer-fix
    {
        transform: translateY(-2px)!important;
    }
    .no-bg
    {
        background-image: none!important;
    }

    .transform-0
    {
        transform: translateX(0)!important;
        transform: translateY(0)!important;
    }
    .pad-x-0
    {
        padding-left:0%!important;
        padding-right:0%!important;
    }
    .car-media {
        height: 450px;
    }
    #news
    {
        transform: translateY(-10%)!important;
    }
    #call-back
    {
        height:auto;
    }
    #call-back form
    {
        float: none!important;
    }
    #contact-us
    {
        text-align: center!important;
    }
    .blocker
    {
        padding-top:0% !important;
    }
    .owl-nav
    {
        display: none!important;
    }
    #reviews
    {
        padding-bottom: 8%!important;
    }

    .lb-nav a.lb-next {
        position: absolute;
        opacity: 1;
        right: 0;
    }

    .lb-nav a.lb-prev {
        left: 0;
        position: absolute;
        opacity: 1;
    }

    .call-a {
        animation: none!important;
        border-radius: 0!important;
        bottom: 1%!important;
        width: 20%!important;
        height: 8%!important;
    }

    .wa-a {
        animation: none!important;
        bottom: 1%!important;
        border-radius: 0!important;
        width: 20%!important;
        height: 8%!important;
    }
    .wa-ic.fa-2x {
        font-size: 1.5em!important;
    }
    .call-ic.fa-2x {
        font-size: 1.5em!important;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1000px) {
    .menu-point {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    .menu-point
    {
        font-size: 1.0rem;
    }

    .sun
    {
        left:0%!important;
    }
    .transform-0
    {
        transform: translateX(0)!important;
        transform: translateY(0)!important;
    }
    .footer-fix
    {
        transform: translateY(-2px)!important;
    }
    #reviews
    {
        padding-bottom: 6%!important;
    }
    .endf
    {
        height:100%;
    }
}

/* Icons */

.call-a {
    background:#9EAEED;
    border:2px solid #9EAEED;
    border-radius:70px!important;
    height:68px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:68px;
    position: fixed;
    left: 4%;
    bottom: 9%;
    transition:.3s;
    -webkit-animation:hoverWave linear 1s infinite;
    animation:hoverWave linear 1s infinite;
    z-index: 10000;
}
.call-ic {
    color:white;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 0 rgba(158, 174, 237 0.2),0 0 0 0 rgba(158, 174, 237 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(158, 174, 237 0.3),0 0 0 15px rgba(158, 174, 237 0.2),0 0 0 0 rgba(158, 174, 237, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237, 0),0 0 0 26.7px rgba(158, 174, 237, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237, 0),0 0 0 40px rgba(158, 174, 237, 0)
    }
}@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 0 rgba(0, 217, 192, 0.2),0 0 0 0 rgba(158, 174, 237, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 15px rgba(158, 174, 237, 0.2),0 0 0 0 rgba(158, 174, 237, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 26.7px rgba(158, 174, 237, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 40px rgba(158, 174, 237,0.0)
     }
 }

/*кнопка обратной связи*/

.wa-a {
    background: #9EAEED;
    border:2px solid #9EAEED;
    border-radius:70px!important;
    height:68px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:68px;
    position: fixed;
    right: 4%;
    bottom: 9%;
    transition:.3s;
    -webkit-animation:email-an linear 1s infinite;
    animation:email-an linear 1s infinite;
    z-index: 10000;
}
.wa-ic {
    color:white;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 0 rgba(158, 174, 237, 0.2),0 0 0 0 rgba(158, 174, 237, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 15px rgba(158, 174, 237,0.2),0 0 0 0 rgba(158, 174, 237, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 26.7px rgba(158, 174, 237, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 40px rgba(158, 174, 237, 0)
    }
}
@keyframes email-an {
     0% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 0 rgba(158, 174, 237,0.2),0 0 0 0 rgba(158, 174, 237,0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 15px rgba(158, 174, 237,0.2),0 0 0 0 rgba(158, 174, 237,0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 26.7px rgba(158, 174, 237,0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(158, 174, 237, 0.3),0 0 0 30px rgba(158, 174, 237,0),0 0 0 40px rgba(158, 174, 237,0)
     }
 }

