@font-face {
    font-family: 'Futura PT Light';
    src: local('Futura PT Light'), local('Futura-PT-Light'),
    /*url('/fonts/FuturaPT-Light.woff2') format('woff2'),*/
    /*url('/fonts/FuturaPT-Light.woff') format('woff'),*/
    /*url('/fonts/FuturaPT-Light.ttf') format('truetype');*/
    url('/fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Futura PT Bold';
    src: local('Futura PT Bold'), local('Futura-PT-Bold'),
    url('/fonts/ofont.ru_Futura PT.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Coiny";
    src: local('Coiny'), local('Coiny'),
    url('/fonts/Coiny-Cyrillic.ttf') format('truetype');

}

.text-fut-bold {
    font-family: "Futura PT Bold";
}
.text-fut-light {
    font-family: "Futura PT Light";
}
.menu-point
{
    font-size: 16px;
}
.main-logo
{
    transition: 0.5s;
}
.max{
    width:200%;
}
.min
{
    width:150%;
}
.logs
{
    transition: 0.5s;
}
.logs3
{
    height: 15vh;
}
.logs2
{
    height:10vh;
}
.solid-nav {
    background: white!important;
}
.menu-point-black
{
    color:black!important;
}

img.sun {
    animation: 30s linear 0s normal none infinite running sun;
    -webkit-animation: 30s linear 0s normal none infinite running sun;
}
@keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clouds{
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0%{
        transform: scale(1.0);
    }
    50%
    {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
.cloud-right
{
    animation: trans 15s infinite;
}
.cloud-left
{
    animation: transs 15s infinite;
}
@keyframes trans {
    0%{
        transform: translatex(0px);
    }
    25%
    {
        transform: translate(-40px);
    }
    75%
    {
        transform: translate(40px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes transs {
    0%{
        transform: translatex(0px);
    }
    25%
    {
        transform: translate(40px);
    }
    75%
    {
        transform: translate(-40px);
    }
    100% {
        transform: translate(0px);
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-10px);
        -moz-transform: translatex(-10px);
        -o-transform: translatex(-10px);
        transform: translatex(-10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration:0.5s;
    animation-delay: 0.5s;
}
@-moz-keyframes fadeInRight{
    from {
        opacity:0;
        -webkit-transform: translatex(10px);
        -moz-transform: translatex(10px);
        -o-transform: translatex(10px);
        transform: translatex(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fadeInRight {
    from {
        opacity:0;
        -webkit-transform: translatex(100px);
        -moz-transform: translatex(100px);
        -o-transform: translatex(100px);
        transform: translatex(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
.in-right {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}
@-moz-keyframes fadeInBottom{
    from {
        opacity:0;
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -o-transform: translatey(10px);
        transform: translatey(10px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fadeInBottom {
    from {
        opacity:0;
        -webkit-transform: translatey(100px);
        -moz-transform: translatey(100px);
        -o-transform: translatey(100px);
        transform: translatey(100px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
.in-bottom {
    -webkit-animation-name: fadeInBottom;
    -moz-animation-name: fadeInBottom;
    -o-animation-name: fadeInBottom;
    animation-name: fadeInBottom;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-duration: 0.5s;
    animation-delay: 0.5s;
}
#employees .carousel-control-next {
    right: -10%!important;
}
#employees .carousel-control-prev {
    left: -10%!important;
}
.carousel-block-2 {
    background: rgba(150, 199, 216, 0.44);
    border-radius: 5px;
}
#employees .carousel-control-next-icon {
    background-image: url(/images/left.png);
    background-size: contain;
}
#employees .carousel-control-prev-icon {
    background-image: url(/images/right.png);
    background-size: contain;
}
#reviews {
    background-image: url(/images/image1.png);
    background-size: 100% 100%;
    height: 105vh;
}
#news {
    background-image: url(/images/reviews2.png);
    background-size: 100% 100%;
    height: 100vh;
}
#call-back {
    background-image: url(/images/form.png);
    background-size: 100% 100%;
    height: 70vh;
}
.btn {
    font-size: 16px;
    border:none;
    color:white;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.btn:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    color: #fff;
    transform: translateY(-5px);

}
#call-back form {
    background: linear-gradient(180deg, #FF6A74 0%, #FF6F5B 100%);
    border-radius: 10px;
    width: 272px;
    height: 364px;
    padding: 30px 20px 30px 20px;
    float: right;
}
.btn.btn-submit {
    width: 232px;
    background: #637BD9;
    border-radius: 10px;
    height: 41px;
    font-size: 15px;
}
#call-back .form-control {
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    border: none;
    height: 41px;
}
#call-back .form-control#exampleFormControlTextarea5 {
    height: 75px;
}
#reviews .owl-carousel .item p {
    font-family: "Futura PT Light";
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
#reviews .owl-carousel .item h5 {
    font-family: "Futura PT Bold";
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
#reviews .owl-carousel .item h6 {
    font-family: "Futura PT Light";
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}
#reviews .paddingleft {
    padding-left: 5%;
}
.carousel-block-2 {
    height: 322px;
}
#employees .owl-nav {
    width: 108%;
    left: -4%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 29%;
    z-index: -2;
}
#employees .owl-nav .owl-prev span, #employees .owl-nav .owl-next span {
    font-size: 90px;
}
button:focus {
    outline: none;
}
#reviews .owl-prev span, #reviews .owl-next span {
    display: none;
}
#reviews .owl-prev {
    background-image: url(/images/right-arrow.png);
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9999;
    background-size: contain;
}
#reviews .owl-next {
    background-image: url(/images/left-arrow.png);
    width: 30px;
    height: 30px;
    display: block;
    z-index: 9999;
    background-size: contain;
}
#reviews .owl-nav {
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin-top: 5%;
}
#contact-us .phone, #contact-us .map, #contact-us .time {
    display: flex;
    align-items: center;
}
#contact-us p {
    margin-bottom: 0;
    margin-left: 7%;
}

#divider-before-map {
    background-image: url(/images/3.png);
    background-size: 100% 100%;
    background-position: bottom;
    height: 137px;
    position: absolute;
}
#footer {
    background: #ff9a66;
}
.divider-before-footer {
    background-image: url(/images/4.png);
    background-size: 100% 100%;
    height: 200px;
    transform: translateY(-180px);
    position: absolute;
    width: 100%;
}
.row-with-animation {
    position: absolute;
    right: 5%;
}
.row-with-animation2 {
    position: absolute;
    left: 20%;
    top: -110px;
}
.row-with-animation3 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.parallax {
    overflow: hidden;
    left: 0;
}
.parallax2 {
    overflow: hidden;
    left: 0;
}
.water {
    position: absolute;
    font-family: pt-narrow!important;
    font-size: 220px;
    color: #000000;
}
.water2 {
    position: absolute;
    width: 298px;
    border: 1px solid #000;
    height: 384px;
}
.blokparallax {
    position: absolute;
    left: 22%;
    top: -15%;
    z-index: 9999;
}
.blokparallax2 {
    position: absolute;
    left: 6%;
    top: 0%;
    z-index: 0;
}
.blokparallax3 {
    position: absolute;
    right: 16%;
    top: -5%;
    z-index: 0;
}
.parallax-effects {
    width: 100%;
    height: 100%;
    position: absolute;
}
#gallery {
    padding-top: 6%;
}
#menu {
    padding-top: 2%;
    padding-bottom: 2%;
}


.blok1-h1 {
    font-size: 55px;
    line-height: 120%;
    font-family: 'Coiny';
}
.blok1-span {
    font-size:16px;
    line-height: 17px;
}
.lb-data .lb-details {
    display: none;
}
.lb-outerContainer {
    background-color: transparent;
}
.soc-icons {
    background: rgb(241, 241, 241);
    width: 71px;
    height: 71px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.soc-icons img {
    transition: all 0.5s ease;
    transform: scale(0.9);
}
.soc-icons:hover img {
    transform: scale(1);
}
#courses ul {
    list-style: none;
}
#courses ul li::before {
    content: "\2022";
    color: #FF6C6A;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.7em;
    position: absolute;
}

@media (min-width: 690px) and (max-width: 770px) {
    img {
        width: 100%;
    }
    .blok1-span {
        font-size: 28px;
        line-height: 36px;
    }
    .img-in-first-block {
        max-width: 70%;
    }
    .text-slogan {
        font-size: 44px!important;
        line-height: 59px!important;
    }
    .img_new img {
        position: absolute;
        top: -160px;
        left: -41px;
    }
    .main-ht {
        height: 80vh!important;
    }

}

@media (max-width: 690px) {
    img {
        width: 100%;
    }
    .blok1-h1 {
        font-size: 25px;
    }
    .text-slogan {
        font-size: 17p!important;
        line-height: 27px!important;
    }
    .img_new img {
        position: absolute;
        top: -104px;
        left: -27px;
    }
    .in-left {
        position: relative!important;
    }
    #about_us .col-lg-3 .p-lg-5 img {
        width: 20%;
    }
    .clouds {
        display: none;
    }
    #about_us .col-lg-3 .p-lg-5 p{
        padding-top: 0!important;
    }
    #about_us {
        height: 210vh!important;
    }
    .meropriyatiya {
        font-size: 30px!important;
        line-height: 32px!important;
    }
    .noposa {
        position: relative!important;
        right: 0!important;
    }
    
}